$color-white: #fff;
$color-black: #000;
$color-green: #78b943;
$color-green-2: #78b945;
$color-blue: #0e237e;
$color-blue-2: #012169;
$color-gray-dark: #777;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


:root {
    --green: #78b943;
    --green2: #78b945;
    --blue: #0e237e;
    --blue2: #012169;
  }